
.contact-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-list-img{
    
    margin-left: 20px;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border-radius:50%;
}
.contact-list-datos{
    
    padding: 15px;
}
.contact-list-datos p{
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;

}
.contact-list-datos p span{
    font-weight: bold;
}
img{
    border-radius: 50%;
}